body {
    margin: 0;
    background-color: #282c34;
    color: #ffffff;
}

.markdown-editor-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr min-content;
    gap: 1rem;
    height: 100vh;
    padding: 1rem 1rem 2rem;
    box-sizing: border-box;
    font-family: sans-serif;
}

.editor-title {
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}